[Unit]
Description=[ThinkPad Yoga] Wacom digitizer proximity detection
After=lightdm.service

[Service]
Type=simple
ExecStart=/usr/bin/bash /opt/thinkpad-yoga-scripts/wacom/thinkpad-yoga-prox.sh
KillMode=process

[Install]
WantedBy=multi-user.target