[Unit]
Description=[ThinkPad Yoga] Wacom digitizer proximity detection
Requires=display-manager.service
After=display-manager.service


[Service]
Type=simple
ExecStart=/bin/bash /opt/thinkpad-yoga-scripts/wacom/thinkpad-yoga-prox.sh
KillMode=process
User=%i
Environment="DISPLAY=:0" "XAUTHORITY=/home/%i/.Xauthority"

[Install]
WantedBy=multi-user.target
