[Unit]
Description=[ThinkPad Yoga] Wacom digitizer proximity detection

[Service]
Type=oneshot
ExecStart=/opt/thinkpad-yoga-scripts/wacom/thinkpad-yoga-prox.sh

[Install]
WantedBy=multi-user.target