[Unit]
Description=[ThinkPad Yoga] Tablet mode
Requires=display-manager.service
After=display-manager.service

[Service]
ExecStart=/bin/bash /opt/thinkpad-yoga-scripts/tablet/tablet-mode.sh
KillMode=process
Environment="DISPLAY=:0"
Type=forking
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
