[Unit]
Description=[ThinkPad Yoga] Rotation with accelerometer

[Service]
Type=forking
ExecStart=/usr/bin/env python2 /opt/thinkpad-yoga-scripts/rotate/thinkpad-rotate.py
KillMode=process

[Install]
WantedBy=multi-user.target